.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    margin-bottom: 48px;
    width: 100%;
}

.outerContainer {
    margin: 48px 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}